<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <style>
      body {
        padding-top: 100px;
        background-color: #163c23;
      }
      * {
        margin:0px;
        padding:0px;
        box-sizing:border-box;
      }
      .image-slider {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:650px;
        height:420px;
        overflow:hidden;
        border-radius:5px;
        box-shadow:0px 50px 100px rgba(0,0,0,0.4);
      }
      .image-slider .images {
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
      }
      .image-slider .images img {
        position:absolute;
        width:100%;
        height:100%;
        object-fit:cover;
        opacity:0;
        transform:scale(1.1);
        transition:all 500ms ease-in-out;
      }
      .image-slider .images img.active {
        opacity:1;
        transform:scale(1);
      }
      .image-slider .back-btn,
      .image-slider .next-btn {
        position:absolute;
        top:0px;
        width:40px;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        cursor:pointer;
        color:#fff;
        font-size:25px;
        background:rgba(0,0,0,0.2);
        transition:all 300ms ease-in-out;
      }
      .image-slider .next-btn {
        right:0px;
      }
      .image-slider .back-btn:hover,
      .image-slider .next-btn:hover {
        background:rgba(0,0,0,0.5);
      }
      .image-slider .thumbnails {
        position:absolute;
        bottom:5px;
        width:100%;
        height:40px;
        display:flex;
        justify-content:center;
        gap:5px;
      }
      .image-slider .thumbnails img {
        width:60px;
        cursor:pointer;
        border:2px solid transparent;
      }
      .image-slider .thumbnails img.active {
        border:2px solid #fff;
      }
    </style>
  </head>
  <body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <%- include('../partials/nav') %>
    <div class="image-slider">
      <div class="images"></div>
      <div class="thumbnails"></div>
      <div class="back-btn">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
      <div class="next-btn">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  </body>
  <script>
    let images = [
    "https://blog.kakaocdn.net/dn/bjFj53/btrSMIthDiZ/vyRcqlE3A5Q4y42LwsOkL0/img.jpg",
    "https://blog.kakaocdn.net/dn/ohEI3/btrSM3xg4Im/IKpcsVuKShkmuZqc1tXY11/img.jpg",
    "https://blog.kakaocdn.net/dn/djafM3/btrSM3cYfJ9/m1ru79626PBV1BM7cGCtL1/img.jpg",
    "https://blog.kakaocdn.net/dn/wS9st/btrSN2dXmab/OCLjKhGOeujCIsSyywKf51/img.jpg",
    "https://blog.kakaocdn.net/dn/b1tbBv/btrSLZN50jn/CLR0geFN8FK7xfZGQRxVB0/img.jpg",
    "https://blog.kakaocdn.net/dn/bg0KOu/btrSN0Tnzgw/v3Mp0kUc6HKrtTO04yuLlk/img.jpg",
    "https://blog.kakaocdn.net/dn/NC4vH/btrSIQkEFOX/6ak0slCW7TJy27CALuy5eK/img.jpg",
    "https://blog.kakaocdn.net/dn/dmUVqT/btrSMHNjodO/4yfHvxnkqIVxhtw4JLzk2k/img.jpg"
    ];

    function imageSlider(parent,images){
    let currentImage = 0;
    let slider = {
      parent:parent,
      images:parent.querySelector(".images"),
      thumbnails:parent.querySelector(".thumbnails"),
      backBtn:parent.querySelector(".back-btn"),
      nextBtn:parent.querySelector(".next-btn")
    };

    slider.images.innerHTML = images.map(function(image){
      return `<img src="${image}"/>`
    }).join("");

    let imageNodes = slider.images.querySelectorAll("img");
    imageNodes[currentImage].classList.add("active");

    slider.thumbnails.innerHTML = slider.images.innerHTML;

    let thumbnailNodes = slider.thumbnails.querySelectorAll("img");
    thumbnailNodes[currentImage].classList.add("active");
    for(let i=0;i<thumbnailNodes.length;i++){
      thumbnailNodes[i].addEventListener("click",function(){
        slider.thumbnails.querySelector("img.active").classList.remove("active");
        thumbnailNodes[i].classList.add("active");
        imageNodes[currentImage].classList.remove("active");
        currentImage = i;
        imageNodes[currentImage].classList.add("active");
      });
    }

    slider.backBtn.addEventListener("click",function(){
      imageNodes[currentImage].classList.remove("active");
      currentImage--;
      if(currentImage < 0){
        currentImage = images.length - 1;
      }
      imageNodes[currentImage].classList.add("active");
      slider.thumbnails.querySelector("img.active").classList.remove("active");
      thumbnailNodes[currentImage].classList.add("active");
    });

    slider.nextBtn.addEventListener("click",function(){
      imageNodes[currentImage].classList.remove("active");
      currentImage = (currentImage+1) % images.length;
      imageNodes[currentImage].classList.add("active");
      slider.thumbnails.querySelector("img.active").classList.remove("active");
      thumbnailNodes[currentImage].classList.add("active");
    });
    }

    imageSlider(document.querySelector(".image-slider"),images);
  </script>
</html>
