<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>What I take</h1>
        <h4>-Onine photo Exhibition</h4>
        <br><hr><br>
        <p>고급 웹 프로그래밍</p>
        <p>20101200 컴퓨터공학과 김도연</p>
      </div>

    </div>
  </body>
</html>
