<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <style>
      body {
        padding-top: 200px;
        background: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FZMpdI%2FbtrSIqsZWc8%2Fa7xGgpc6wxrvWORdAXs3b0%2Fimg.jpg') center no-repeat;
        height: 100vh;
        background-size : cover;
        color: white;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <h1 class="main-title">What I take</h1>
      <h4 class="main-title">-Onine Photo Exhibition</h4>
      <hr>
      <h5>고급 웹 프로그래밍</h5>
      <h5>20101200 컴퓨터공학과 김도연</h5>
    </div>

  </body>
</html>
